/* -- This specific Hack-A-Day project -- */
.content {
    margin-left: 20px;
}

ul.letters {
    list-style: none;
}
ul.letters li {
    display: inline;
    font-size: 36pt;
}

ul.shows {
    list-style: none;
}
@media only screen and (min-width: 600px) {
    ul.shows {
        column-count: 6;
    }
}
ul.shows a {
    color: black;
}
ul.shows li {
    margin-bottom: 8px;
}

ul.pagination-links {
    list-style: none;
}
ul.pagination-links > li {
    display: inline;
    font-size: 24pt;
}


table, h3.season, h3.info {
    margin: 20px 0 0 20px;
}



table {
    border-collapse: collapse;
}

td.season {
    background-color: yellow;
    text-align: center;
}

table td, table th, table td {
    padding: 0 4px 0 4px;
    border: 1px solid;
}

table:not(.infobox) tr:nth-child(1) {
    background-color: yellow;
}
table tr:nth-child(even) {
    background-color: lightyellow;
}
/* -- All Hack-A-Day projects -- */

.container {
    display: flex;
    flex-direction: column;
}

.content {
    flex-grow: 1;
    flex-shrink: 1;
}

.about {
    white-space: pre-wrap;
}
.footer {
    background-color: rgba(0,0,0,0.2);
    margin-top: 20px;
}
.footer ul {
    list-style: none;
    padding-left: 5px;
}

.navbar-brand-link a {
    color: #777;
}
.navbar-brand-link a:hover {
    color: #000;
    text-decoration: none;
}

input[type=number] {
    height: 36px;
    width: 80px;
    text-align: right;
    padding: 8px 12px 8px 8px;
}

input[type=number]::-webkit-inner-spin-button {
    opacity: 1;
    background: rgba(0,0,0,0);
    width: 24px;
    margin-left: 10px;
}

.hflex {
    display: flex;
    flex-flow: row nowrap;
}
.vflex {
    display: flex;
    flex-flow: column nowrap;
}

/* Fullscreen 'content' on request */
.fullscreen nav.navbar {
    margin-bottom: 0;
}
.fullscreen div.container {
    margin: 0;
    padding: 0;
    width: 100%;
}
.fullscreen .footer {
    margin-top: 0;
}
html.fullscreen, .fullscreen body, .fullscreen .container {
    height: 100%;
}
